name: Project automation

on:
    push:
        branches:
            - main
        tags:
            - 'deploy-*'

jobs:
    deploy:
        runs-on: ubuntu-latest

        steps:
            - name: checkout code
              uses: actions/checkout@v3

            - name: Set stage variable
              run: |
                if [[ "${GITHUB_REF_NAME}" == "deploy-dev" ]]; then
                  echo "STAGE=Dev" >> $GITHUB_ENV
                  source ./scripts/dev_config.sh
                elif [[ "${GITHUB_REF_NAME}" == "deploy-prod" ]]; then
                  echo "STAGE=Prod" >> $GITHUB_ENV
                  source ./scripts/prod_config.sh
                else
                  echo "STAGE=Dev" >> $GITHUB_ENV
                  source ./scripts/dev_config.sh
                fi
                echo "AWS_REGION=$TF_VAR_region" >> $GITHUB_ENV

            - name: Configure AWS Credentials
              uses: aws-actions/configure-aws-credentials@v3
              with:
                aws-access-key-id: ${{ secrets.ACCESS_KEY_ID }}
                aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
                aws-region: ${{ env.AWS_REGION }}

            - name: setup terraform
              uses: hashicorp/setup-terraform@v3

            - name: Execute deploy.sh
              run: |
                chmod +x deploy.sh
                ./deploy.sh ${{ env.STAGE }}
              working-directory: ./scripts

            - name: Get public IP from terraform output
              run: |
                ec2_public_ip=$(terraform output -raw public_ip)
                echo "EC2_PUBLIC_IP=$ec2_public_ip" >> $GITHUB_ENV
              working-directory: ./terraform

            - name: check app health
              run: curl -I --fail http://$EC2_PUBLIC_IP
