name: Project automation

on:
    push:
        branches:
            - main

jobs:
    deploy:
        runs-on: ubuntu-latest

        steps:
            - name: checkout code
              uses: actions/checkout@v3

            - name: Set env variables
              run: |
                echo "STAGE=Prod" >> $GITHUB_ENV
                source ./scripts/dev_config.sh
                echo "AWS_REGION=$TF_VAR_region" >> $GITHUB_ENV

            - name: Configure AWS Credentials
              uses: aws-actions/configure-aws-credentials@v3
              with:
                aws-access-key-id: ${{ secrets.ACCESS_KEY_ID }}
                aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
                aws-region: ${{ env.AWS_REGION }}

            - name: setup terraform
              uses: hashicorp/setup-terraform@v3

            - name: Execute deploy.sh
              run: |
                chmod +x deploy.sh
                ./deploy.sh ${{ env.STAGE }}
              working-directory: ./scripts

#            - name: Get public IP from terraform output
#              run: |
#                putobject_ec2_public_ip=$(terraform output -raw putobject_ec2_public_ip)
#                echo "EC2_PUBLIC_IP=$putobject_ec2_public_ip" >> $GITHUB_ENV
#              working-directory: ./terraform

#            - name: check app health
#              run: curl -I --fail http://$EC2_PUBLIC_IP